/* Custom css goes here */

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Footer */

.footer {
  font-size: 12px;
  min-height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
}
.footer .navbar-text{
  margin-top: 0px;
  margin-bottom: 0px;
}


/* Adds a sweet arrow to drop-down panels */
.panel-heading a:hover{
    text-decoration: none;
}
.panel-heading a:focus{
    text-decoration: none;
}

/*
.panel-heading a:after{
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  color: grey;
  float: right;
}

.panel-heading a.collapsed:after{
  content: "\e080";
}
*/

/* Makes file upload elements not look like garbage */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* Notification helpers */

/* For badges */
.danger {
    background-color: red !important;
}
.warning {
    background-color: orange !important;
}
.opt {
    background-color: green !important;
}
/* For just glyphs */
.text-danger {
    color: red !important;
}
.text-warning {
    color: orange !important;
}
.text-opt {
    color: green !important;
}

/* Flash message */
@media (min-width: 992px) {
    .flash {
      position: fixed;
      top: 1px;
      left: 300px;
      z-index: 9000;
      display: block;
      width: auto;
      height: 49px;
    }
}

/* Sidebar */

/* Mobile Settings */
.sidebar {
    padding: 5px;
}

.sidebar-panel {
    margin-bottom: 0px;    
    border: 0px;
}

.sidebar-panel .panel-heading {
    border: 1px solid #ddd;
}

.notifications {
}

.notifications table {
    margin-bottom: 0px;
}
.notifications table td {
    border-left: 0px !important;
    border-right: 0px !important;
}

/* Desktop Settings */
@media (min-width: 992px) {
  .container-fluid {
    margin-left: 30px;
    margin-right: 30px;
  }

  .sidebar {
    position: fixed;
    top: 70px;
    bottom: 40px;
    z-index: 1000;
    display: block;
    width: 300px;
    margin-left: 15px;
  }
  .sidebar-panel {
    height: 100%;
  }

  .notifications {
    max-height: calc(100% - 39px);
    overflow-y: auto;
  }
}

/* Main content */

.main {
  padding: 5px;
}
@media (min-width: 992px) {
  .main {
    margin-left: 315px;
    margin-right: 15px;
  }
}

.main-view {
}
.fumehood-view {
}
.panel-fumehood {
}

.panel-fumehood-body table {
    margin-bottom: 0px;
}
.panel-fumehood-body table td {
    border-left: 0px !important;
    border-right: 0px !important;
}
.panel-fumehood {
    width: 300px;
    margin-bottom: 0px;    
    border: 0px;
}

.panel-fumehood .panel-heading {
    border: 1px solid #ddd;
}
@media (min-width: 992px) {
  .main-view {
    position: fixed;
    width: calc(100% - 400px);
    top: 125px;
    bottom: 40px;
    z-index: 1000;
    display: block;
    overflow-y: auto;
  }
  .fumehood-view {
    position: fixed;
    width: calc(100% - 400px);
    top: 125px;
    bottom: 45px;
    z-index: 1000;
    display: block;
    overflow-x: auto;
  }
  .panel-fumehood {
    max-height: calc(100% - 5px);
    overflow-y: auto;
    padding-bottom: 1px;
  }
}

.main-nav {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  margin-bottom: 0px;
  padding-right: 30px;
}
.main-nav .navbar-text{
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-nav li>a{
  padding: 5px;
  padding-top: 10px;
}

.tile {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 300px; 
  display: inline-block;
  border-radius: 15px 0px 15px 0px;
  font-weight: bold;
}

.tile button{
  border-radius: 0;
  width: 100%;
  white-space: normal !important;
  font-weight: bold !important;
}

.tile .list-group-item:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 0px; 
}
.tile .list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
}

.tile span.badge {
  float: none !important;
  margin-right: 0 !important;
}

#add-user{
  white-space: nowrap;
  position: absolute;
  display: none;
  width: 35%;
  left: 0px;
  padding-bottom: 15px;
}
#add-user div.alert{
  white-space: normal;
}
#user-list{
  position: absolute;
  right: 0px;
  width: 100%;
  padding-bottom: 15px;
}

#chev{
  float: left;
  padding-top: 2px;
  padding-right: 5px;
}
