/* Custom css goes here */

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Footer */

.footer {
  font-size: 12px;
  min-height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
}
.footer .navbar-text{
  margin-top: 0px;
  margin-bottom: 0px;
}


/* Adds a sweet arrow to drop-down panels */
.panel-heading a:hover{
    text-decoration: none;
}
.panel-heading a:focus{
    text-decoration: none;
}

.panel-heading a:after{
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  color: grey;
  float: right;
}

.panel-heading a.collapsed:after{
  content: "\e080";
}

/* Makes file upload elements not look like garbage */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* Notification helpers */

/* For badges */
.danger {
    background-color: red !important;
}
.warning {
    background-color: orange !important;
}
.opt {
    background-color: green !important;
}
/* For just glyphs */
.text-danger {
    color: red !important;
}
.text-warning {
    color: orange !important;
}
.text-opt {
    color: green !important;
}

/* Sidebar */

/* Mobile Settings */
.sidebar {
    padding: 5px;
}

.sidebar-panel {
    margin-bottom: 0px;    
    border: 0px;
}

.sidebar-panel .panel-heading {
    border: 1px solid #ddd;
}

.notifications {
}

.notifications table {
    margin-bottom: 0px;
}
.notifications table td {
    border-left: 0px !important;
    border-right: 0px !important;
}

/* Desktop Settings */
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 70px;
    bottom: 40px;
    z-index: 1000;
    display: block;
    width: 300px;
  }
  .sidebar-panel {
    height: 100%;
  }

  .notifications {
    height: calc(100% - 40px);
    overflow-y: auto;
  }
}

/* Main content */

.main {
  padding: 5px;
}
@media (min-width: 992px) {
  .main {
    margin-left: 300px;
  }
}

.main-view {
}
@media (min-width: 992px) {
  .main-view {
    position: fixed;
    width: calc(970px - 310px);
    top: 125px;
    bottom: 40px;
    z-index: 1000;
    display: block;
    overflow-y: auto;
  }
}
@media (min-width: 992px) {
  .main-view {
    width: calc(1170px - 310px);
  }
}

.main-nav {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  margin-bottom: 0px;
  padding-right: 30px;
}
.main-nav .navbar-text{
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-nav li>a{
  padding: 5px;
  padding-top: 10px;
}
